<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home Page</title>

    <div th:replace="base :: bootstrap-css"/>
</head>

<body>
    <div th:replace="base :: header"/>


    <div class="container">
        <h1>Hello xin chao </h1>
        <h1 th:text="${msg}"/>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="base :: footer"/>
</body>
</html>
